/* Global Styles */
textarea {
	resize: none;
}

#editBtn, #attendenceBtn, #addUserBtn {
	margin-bottom: 7px;
	margin-left: 2%;
}

.field {
	font-size: 16px;
}

#opinionBtn {
	margin-bottom: 30px;
	margin-left: 2%;
}

body {
	margin-top: 100px;
	background-color: white;
	height: 100%;
	font-family: "open sans";
	font-size: 15px;
}

#editBtn {
	margin-left: 10px;
	margin-top: 10px;
}

#subBtn {
	width: 140px;
	height: 40px;
}

#aproveBtn, #disaproveBtn {
	width: 80px;
	height: 40px;
}

#lng {
	list-style-type: none;
	padding-left: 0;
}

#audience, #tags {
	list-style-type: none;
	max-height: 100px;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-left: 0;
	border: 1px dotted;
}

html {
	height: 100%;
	background-color: white;
}

@media (min-width: 768px) {
	body {
		margin-top: 50px;
	}
}

#wrapper {
	padding-left: 0;
	height: 100%;
}

#copyright {
	color: white;
	padding: 10px 10px;
	font-size: 10px;
	position: absolute;
	bottom: 50px;
	display: none;
}

#page-wrapper {
	width: 100%;
	padding: 50px 0 0;
	background-color: #FFFFFF;
	height: 100%;
	margin-bottom: -50px;
	margin-top: -50px;
}

#top-menu {
	box-shadow: 0 2px 14px 2px #0F2736;
	background-color: #1A394C;
}

#menu-button {
	border-color: #112C3C;
}

#menu-button:hover {
	background-color: #112C3C;
}

#menu-button:focus {
	background-color: #112C3C;
}

#left-menu {
	background-color: #1A394C;
}

#left-menu > li > a {
	border-bottom: solid 1px #0F2736;
	color: white;
}

#alltrainings {
	border-top: solid 1px #0F2736;
}

#left-menu > li > ul > li > a {
	color: white;
}

.huge {
	font-size: 50px;
	line-height: normal;
}

@media (min-width: 768px) {
	#wrapper {
		padding-left: 225px;
	}

	#page-wrapper {
		padding: 50px 10px 10px;
	}
}

.tab-content {
	border-top: 0;
	border-right: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	border-radius: 0 0 4px 4px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
}

/* Top Navigation */

.language-panel {
	height: 50px;
	font-size: 15px;
	float: right;
	padding: 0 15px;
	margin-right: 0;
}

.top-nav {
	padding: 0 15px;
}

.top-nav > li {
	display: inline-block;
	float: left;
}

.top-nav > li > a {
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 20px;
	color: #FFFFFF;
}

/*    hover navbar buttons    */

.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
	color: #FFFFFF;
	background-color: #285069;
}

.top-nav > .open > .dropdown-menu {
	float: left;
	position: absolute;
	margin-top: 0;
	border: 1px solid rgba(0, 0, 0, .15);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.top-nav > .open > .dropdown-menu > li > a {
	white-space: normal;
}

ul.message-dropdown {
	padding: 0;
	max-height: 250px;
	overflow-x: hidden;
	overflow-y: auto;
}

li.message-preview {
	width: 275px;
	border-bottom: 1px solid rgba(0, 0, 0, .15);
}

li.message-preview > a {
	padding-top: 15px;
	padding-bottom: 15px;
}

li.message-footer {
	margin: 5px 0;
}

ul.alert-dropdown {
	width: 200px;
}

/* Side Navigation */

@media (min-width: 768px) {
	.side-nav {
		position: fixed;
		top: 51px;
		left: 225px;
		width: 225px;
		margin-left: -225px;
		border: none;
		border-radius: 0;
		overflow-y: auto;
		background-color: #222222;
		overflow-x: hidden;
		height: 100%;
	}

	.side-nav > li > a {
		width: 225px;
	}

	.side-nav li a:hover,
	.side-nav li a:focus {
		outline: none;
		background-color: #285069 !important;
	}

	#copyright {
		display: block;
	}

	#top-menu {
		opacity: 0.9;
	}
}

.side-nav > li > ul {
	padding: 0;
}

.side-nav > li > ul > li > a {
	display: block;
	padding: 10px 15px 10px 38px;
	text-decoration: none;
	color: #999999;
	border-bottom: solid 1px #0F2736;
}

.side-nav > li > ul > li > a:hover {
	color: #FFFFFF;
}

/* Flot Chart Containers */

.flot-chart {
	display: block;
	height: 400px;
}

.flot-chart-content {
	width: 100%;
	height: 100%;
}

/* Custom Colored Panels */

.huge {
	font-size: 40px;
}

.panel-green {
	border-color: #5CB85C;
}

.panel-green > .panel-heading {
	border-color: #5CB85C;
	color: #FFFFFF;
	background-color: #5CB85C;
}

.panel-green > a {
	color: #5CB85C;
}

.panel-green > a:hover {
	color: #3D8B3D;
}

.panel-red {
	border-color: #D9534F;
}

.panel-red > .panel-heading {
	border-color: #D9534F;
	color: #FFFFFF;
	background-color: #D9534F;
}

.panel-red > a {
	color: #D9534F;
}

.panel-red > a:hover {
	color: #B52B27;
}

.panel-yellow {
	border-color: #F0AD4E;
}

.panel-yellow > .panel-heading {
	border-color: #F0AD4E;
	color: #FFFFFF;
	background-color: #F0AD4E;
}

.panel-yellow > a {
	color: #F0AD4E;
}

.panel-yellow > a:hover {
	color: #DF8A13;
}

.search-select {
	padding-right: 0;
}

.tags {
	font-size: initial;
	margin-right: 5px;
	margin-bottom: 5px;
	display: inline-block;
}

.search-row {
	margin-bottom: 15px;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
	color: white;
}

.right-calendar-buttons {
	float: right;
}

.calendar {
	padding-bottom: 15px;
}

.switcher {
	padding-bottom: 15px;
}

.calendar-icons {
	color: white;
}

.calendar-title {
	margin-bottom: 0;
	margin-top: 0;
}

.glyphicon-remove {
	color: #ffffff;
}
