.row1 {
    height: 25%;
}

.row2 {
    height: 25%;
}

#alertLog {
    padding: 4px;
    margin-bottom: 5px;
}

#top-menu {
    opacity: 0.9;
    box-shadow: 0px 2px 14px 2px #0f2736;
    margin-bottom: 15px;
}

.container1 {
    height: 100%;
    margin: 0 auto -50px;
}

#wrapper {
    height: 100%;
}

html {
    height: 100%;
    background-color: white;
}

body {
    padding-top: 50px;
    height: 100%;
    background-color: #fff;
    min-height: 100%;
    position: relative;
    margin: 0;
    font-family: 'open sans';
    font-size: 15px;
}

.sign-in-btn {
    float: right;
}

#top-pannel {
    background-color: #216FA0;
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
    margin-right: 0 !important
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.top-nav>li>b {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #285069;
}