.loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 120px;
	height: 120px;
	margin-left: -60px;
	margin-top: 75px;
	margin-bottom: 75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-left-color: #3c8cbe;
	border-right-color: #1A394C;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

.loader:before {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #0063a0;

	-webkit-animation: antispin 0.8s linear infinite;
	animation: antispin 0.8s linear infinite;
}

.loader:after {
	content: "";
	position: absolute;
	top: 30px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #0063a0;

	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-360deg);
		-ms-transform: rotate(-360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes antispin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-360deg);
		-ms-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}