<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml" ng-app="allTrainingsApp">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description" content=""/>
	<meta name="author" content=""/>

	<base th:href="@{/}"/>

	<link rel="shortcut icon" href="../../resources/vendors/pics/favicon.gif"
	      th:href="@{/resources/vendors/pics/favicon.gif}"/>

	<title th:text="#{allTrainings.page.title}">All trainings</title>

	<!-- Bootstrap Core CSS -->
	<link href="../../resources/vendors/css/bootstrap.css" th:href="@{/resources/vendors/css/bootstrap.css}"
	      rel="stylesheet"/>

	<!-- Custom CSS -->
	<link href="../../resources/css/global.css" th:href="@{/resources/css/global.css}" rel="stylesheet"/>

	<!-- Custom Fonts -->
	<link href="../../resources/vendors/font-awesome/css/font-awesome.min.css"
	      th:href="@{/resources/vendors/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

	<!-- ng-table CSS -->
	<link href="../../resources/vendors/css/ng-table.min.css" th:href="@{/resources/vendors/css/ng-table.min.css}"
	      rel="stylesheet" type="text/css"/>

	<!-- jQuery -->
	<script src="../../resources/vendors/js/jquery-2.1.4.min.js"
	        th:src="@{/resources/vendors/js/jquery-2.1.4.min.js}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="../../resources/vendors/js/bootstrap.js" th:src="@{/resources/vendors/js/bootstrap.js}"></script>

	<!-- Angular -->
	<script src="../../resources/vendors/js/angular.min.js" th:src="@{/resources/vendors/js/angular.min.js}"></script>
	<script src="../../resources/vendors/js/moment.js" th:src="@{/resources/vendors/js/moment.js}"></script>
	<script src="../../resources/vendors/js/ng-table.min.js" th:src="@{/resources/vendors/js/ng-table.min.js}"></script>
	<script src="../../resources/vendors/js/ui-bootstrap-tpls-0.12.1.js"
	        th:src="@{/resources/vendors/js/ui-bootstrap-tpls-0.12.1.js}"></script>
	<script src="../../resources/js/global-ctrls/collapse-ctrl.js"
	        th:src="@{/resources/js/global-ctrls/collapse-ctrl.js}"></script>
	<script src="../../resources/js/global-ctrls/language-ctrl.js"
	        th:src="@{/resources/js/global-ctrls/language-ctrl.js}"></script>
	<script src="../../resources/js/all-trainings-app/app.js"
	        th:src="@{/resources/js/all-trainings-app/app.js}"></script>
	<script src="../../resources/js/all-trainings-app/future-tab-ctrl.js"
	        th:src="@{/resources/js/all-trainings-app/future-tab-ctrl.js}"></script>
	<script src="../../resources/js/all-trainings-app/history-tab-ctrl.js"
	        th:src="@{/resources/js/all-trainings-app/history-tab-ctrl.js}"></script>
	<script src="../../resources/js/all-trainings-app/tabs-services.js"
	        th:src="@{/resources/js/all-trainings-app/tabs-services.js}"></script>
</head>

<body>
<div id="wrapper">

	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="top-menu" ng-controller="collapseCtrl">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" id="menu-button" ng-click="isCollapsed = !isCollapsed">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand" href="welcome.html" th:href="@{/welcome}">
				<img alt="Brand" src="../../resources/vendors/pics/exadel-logo.png"
				     th:src="@{/resources/vendors/pics/exadel-logo.png}"/>
			</a>
		</div>

		<!-- Top Menu Items -->
		<ul class="nav navbar-right top-nav">
			<li class="active">
				<a href="welcome.html" th:href="@{/welcome}">
					<i class="fa fa-fw fa-user"></i>
					<span sec:authentication="principal.firstName"></span>
				</a>
			</li>

			<li class="active">
				<a href="" th:href="@{/logout}" id="logout">
					<i class="fa fa-fw fa-power-off"></i>
					<span th:text="#{label.logout}">Log out</span>
				</a>
			</li>

			<ul class="nav navbar-right top-nav language-panel" ng-controller="languageCtrl">
				<li><a class="lang" href="" ng-click="languageSwitcher('en')">En</a></li>
				<li><a class="lang" href="" ng-click="languageSwitcher('ru')">Ru</a></li>
			</ul>
		</ul>

		<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
		<div class="collapse navbar-collapse" collapse="isCollapsed">
			<ul class="nav navbar-nav side-nav" id="left-menu">
				<li id="alltrainings">
					<a href="all-trainings.html" th:href="@{/training/all}">
						<i class="fa fa-fw fa-circle"></i>
						<span th:text="#{label.allTrainings}">All trainings</span>
					</a>
				</li>
				<li id="mytrainings">
					<a href="my-trainings.html" th:href="@{/training/my}">
						<i class="fa fa-fw fa-circle-o"></i>
						<span th:text="#{label.myTrainings}">My trainings</span>
					</a>
				</li>
				<li id="newtraining">
					<a href="new-training.html" th:href="@{/training/new}">
						<i class="fa fa-fw fa-circle-o"></i>
						<span th:text="#{label.newTraining}">Create new training</span>
					</a>
				</li>
				<li sec:authorize="hasRole('ROLE_ADMIN')" id="newtrainer">
					<a href="new-trainer.html" th:href="@{/user/external/new}">
						<i class="fa fa-fw fa-circle-o"></i>
						<span th:text="#{label.newTainer}">Add new external trainer</span>
					</a>
				</li>
				<li sec:authorize="hasRole('ROLE_ADMIN')" id="users">
					<a href="users.html" th:href="@{/user/all}">
						<i class="fa fa-fw fa-circle-o"></i>
						<span th:text="#{label.users}">Users</span>
					</a>
				</li>
				<li id="copyright">
					<footer>
						<span th:text="#{label.copyright}">©Exadel, Inc. All Rights Reserved.</span>
					</footer>
				</li>
			</ul>
		</div>
	</nav>
	<!-- /Navigation -->

	<div id="page-wrapper">
		<div class="container-fluid">

			<!-- Page Heading -->
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">
						<span th:text="#{label.allTrainings}">All trainings</span>
					</h1>
				</div>
			</div>
			<!-- /Page Heading -->

			<!-- Tabs -->
			<div class="tabs">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#fut" data-toggle="tab" th:text="#{label.futureTrainings}">Future
						trainings</a></li>
					<li><a href="#rec" data-toggle="tab" th:text="#{label.recommendations}">Recommendations</a></li>
					<li><a href="#hist" data-toggle="tab" th:text="#{label.historyOfTrainings}">History of trainings</a>
					</li>
				</ul>
				<!-- Tab content -->
				<div class="tab-content panel panel-default panel-body">
					<!-- Future trainings -->
					<div class="tab-pane fade in active" id="fut" ng-controller="futureController">
						<!-- Search row -->
						<div class="row search-row">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 search-select"
							     ng-model="defaultConfig.searching" ng-init="defaultConfig.searching.type = 'title'">
								<select class="form-control" ng-model="defaultConfig.searching.type">
									<option value="title" th:text="#{label.search.byTitle}">By training title</option>
									<option value="date" th:text="#{label.search.byDate}">By date</option>
									<option value="time" th:text="#{label.search.byTime}">By time</option>
									<option value="location" th:text="#{label.search.byLocation}">By location</option>
									<option value="trainerName" th:text="#{label.search.byTrainer}">By trainer name
									</option>
									<option value="tags" th:text="#{label.search.byTags}">By tags</option>
								</select>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
								<div class="input-group">
									<input type="text" class="form-control" ng-model="defaultConfig.searching.value"
									       ng-model-options="{ debounce: 500 }"
									       placeholder="Type here"
									       th:placeholder="#{label.typeHere}"/>

									<div class="input-group-addon"><i class="fa fa-search"></i></div>
								</div>
							</div>
						</div>
						<!-- /.row -->

						<!-- Trainings -->
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="table-responsive">
									<table class="table table-bordered table-striped table-hover"
									       ng-table="tableParams">
										<tbody>
										<tr ng-repeat="training in $data" ng-class="{'danger': !training.approved}"
										    title="{{{true: 'approved', false: 'not approved'}[training.approved]}}">
											<td data-title="'Title'" sortable="'title'">
												<a target="_blank" ng-href="{{training.url}}">{{training.title}}</a>
											</td>
											<td data-title="'Date'" sortable="'date'">{{training.date}}</td>
											<td data-title="'Time'" sortable="'time'">{{training.time}}</td>
											<td data-title="'Location'" sortable="'location'">{{training.location}}</td>
											<td data-title="'Trainer name'" sortable="'trainerName'">
												{{training.trainerName}}
											</td>
											<td data-title="'Places occupied/all'" sortable="'maxVisitorsCount'">
												{{training.places}}
											</td>
											<td data-title="'Tags'">
												<span ng-repeat="tag in training.tags"
												      class="label tags label-{{tag.color}}">{{tag.title}}</span>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- /Trainings -->
					</div>
					<!-- /Future trainings -->

					<!-- Recommendations -->
					<div class="tab-pane fade" id="rec">
						<!-- Search row -->
						<div class="row search-row">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 search-select"
							     ng-model="defaultConfig.searching" ng-init="defaultConfig.searching.type = 'title'">
								<select class="form-control" ng-model="defaultConfig.searching.type">
									<option value="title" th:text="#{label.search.byTitle}">By training title</option>
									<option value="date" th:text="#{label.search.byDate}">By date</option>
									<option value="time" th:text="#{label.search.byTime}">By time</option>
									<option value="location" th:text="#{label.search.byLocation}">By location</option>
									<option value="trainerName" th:text="#{label.search.byTrainer}">By trainer name
									</option>
									<option value="tags" th:text="#{label.search.byTags}">By tags</option>
								</select>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
								<div class="input-group">
									<input type="text" class="form-control" ng-model="defaultConfig.searching.value"
									       ng-model-options="{ debounce: 500 }"
									       placeholder="Type here"
									       th:placeholder="#{label.typeHere}"/>

									<div class="input-group-addon"><i class="fa fa-search"></i></div>
								</div>
							</div>
						</div>
						<!-- /.row -->

						<!-- Tags row -->
						<div class="row">
							<div class="container-fluid">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title" th:text="#{label.yourTags}">Your tags</h3>
									</div>
									<div class="panel-body">
										<span class="label label-warning tags">#tag</span>
										<span class="label label-danger tags">#tag</span>
										<span class="label label-success tags">#tag</span>
										<span class="label label-default tags">#tag</span>
										<span class="label label-info tags">#tag</span>
										<span class="label label-primary tags">#tag</span>
									</div>
								</div>
							</div>
						</div>
						<!-- /Tags row -->

						<!-- Trainings -->
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="table-responsive">
									<table class="table table-bordered table-striped table-hover"
									       ng-table="tableParams">
										<tr ng-repeat="training in $data" ng-class="{'danger': !training.approved}"
										    title="{{{true: 'approved', false: 'not approved'}[training.approved]}}">
											<td data-title="'Title'" sortable="'title'">{{training.title}}</td>
											<td data-title="'Date'" sortable="'date'">{{training.date}}</td>
											<td data-title="'Time'" sortable="'time'">{{training.time}}</td>
											<td data-title="'Location'" sortable="'location'">{{training.location}}</td>
											<td data-title="'Trainer name'" sortable="'trainerName'">
												{{training.trainerName}}
											</td>
											<td data-title="'Places occupied/all'" sortable="'maxVisitorsCount'">
												{{training.places}}
											</td>
											<td data-title="'Tags'">
												<span ng-repeat="tag in training.tags"
												      class="label tags label-{{tag.color}}">{{tag.title}}</span>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
						<!-- /Trainings -->
					</div>
					<!-- /Recommendations -->

					<!-- History -->
					<div class="tab-pane fade" id="hist" ng-controller="historyController">
						<!-- Search row -->
						<div class="row search-row">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 search-select"
							     ng-model="defaultConfig.searching" ng-init="defaultConfig.searching.type = 'title'">
								<select class="form-control" ng-model="defaultConfig.searching.type">
									<option value="title" th:text="#{label.search.byTitle}">By training title</option>
									<option value="date" th:text="#{label.search.byDate}">By date</option>
									<option value="time" th:text="#{label.search.byTime}">By time</option>
									<option value="location" th:text="#{label.search.byLocation}">By location</option>
									<option value="trainerName" th:text="#{label.search.byTrainer}">By trainer name
									</option>
									<option value="tags" th:text="#{label.search.byTags}">By tags</option>
								</select>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
								<div class="input-group">
									<input type="text" class="form-control" ng-model="defaultConfig.searching.value"
									       ng-model-options="{ debounce: 500 }"
									       placeholder="Type here"
									       th:placeholder="#{label.typeHere}"/>

									<div class="input-group-addon"><i class="fa fa-search"></i></div>
								</div>
							</div>
						</div>
						<!-- /.row -->

						<!-- Trainings -->
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="table-responsive">
									<table class="table table-bordered table-striped table-hover"
									       ng-table="tableParams">
										<tr ng-repeat="training in $data" ng-class="{'danger': !training.approved}"
										    title="{{{true: 'approved', false: 'not approved'}[training.approved]}}">
											<td data-title="'Title'" sortable="'title'">{{training.title}}</td>
											<td data-title="'Date'" sortable="'date'">{{training.date}}</td>
											<td data-title="'Time'" sortable="'time'">{{training.time}}</td>
											<td data-title="'Location'" sortable="'location'">{{training.location}}</td>
											<td data-title="'Trainer name'" sortable="'trainerName'">
												{{training.trainerName}}
											</td>
											<td data-title="'Places occupied/all'" sortable="'maxVisitorsCount'">
												{{training.places}}
											</td>
											<td data-title="'Tags'">
												<span ng-repeat="tag in training.tags"
												      class="label tags label-{{tag.color}}">{{tag.title}}</span>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
						<!-- /Trainings -->
					</div>
					<!-- /History -->
				</div>
				<!-- /.tab-content -->
			</div>
			<!-- /Tabs -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
</body>
</html>