<!DOCTYPE html>

<!-- <%@ page language = "java" contentType = "text/html; charset=UTF-8" pageEncoding = "UTF-8" isErrorPage = "true" %> -->


<html lang="en">
    <head>
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content=""></meta>
        <meta name="author" content=""></meta>
        <link rel="shortcut icon" href="../../resourses/pics/favicon.gif"></link>

        <title>Error page</title>

        <!-- Bootstrap Core CSS -->
	    <link href="../../resourses/css/bootstrap.css" rel="stylesheet"></link>
        
        <!-- Error CSS -->
        <link href="../../resourses/css/error.css" rel="stylesheet"></link>
        
        <!-- <style>
			<%@include file="css/error.css"%>
            <%@include file="css/bootstrap.css"%>
		</style> -->
    </head>

    <body>
        <div id="wrapper">
           
            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" id="top-menu" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="../welcome/welcome.html">
                        <img alt="Brand" src="../../resourses/pics/exadel-logo.png"></img>
                    </a>
                </div>  
                <ul class="nav navbar-right top-nav">
					<li><a class="lang" href = "../error/error.html">En</a></li>
					<li><a class="lang" href = "../error/error.html">Ru</a></li>
                </ul>   
            </nav> 
            <!-- /.navbar -->

            <!-- Container -->
            <div class="container-fluid">
                <!-- .error-message -->
                <div class="row error-message">
                    <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-lg-6 col-md-6 col-sm-8 col-xs-12">
                        <div class="well error">
                        <span> Error 
                            <!-- <%
                                String error = request.getParameter("error");
                                if (error.equals("400")) {
                            %>
                            <%=400%>
                            <%
                                } else if (error.equals("404")) {
                            %>
                            <%=404%>
                            <%
                                } else if (error.equals("500")) {
                            %>
                            <%=500%>
                            <%
                                }
                            %> -->
                            404 
                        </span>
                        </div>
                    </div>
                </div>
                <!-- /.error-message -->
                
                <!-- contact-message -->
                <div class="row">
                    <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-lg-6 col-md-6 col-sm-8 col-xs-12">
                        <div class="well"><div class="contact-message">
                            <span>If you want, you can <a href="">contact us</a>.</span>
                        </div></div>
                    </div>
                </div>
                <!-- /contact-message -->
                
                <!-- Blockquote -->
                <div class="row">
                    <div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-3 col-lg-5 col-md-5 col-sm-7 col-xs-12">
                        <blockquote>
                            <p>Быстро поднятое не считается упавшим.</p>
                            <footer>Admin VK</footer>
                        </blockquote>
                    </div> 
                </div>
                <!-- /Blockquote -->    
            </div>
            <!-- /Container -->    
        </div>
        <!-- /#wrapper -->
    </body>
</html>