<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="../../resources/vendors/pics/favicon.gif" th:href="@{/resources/vendors/pics/favicon.gif}" />

    <title>Login page</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../resources/vendors/css/bootstrap.css" th:href="@{/resources/vendors/css/bootstrap.css}" rel="stylesheet" />

    <!-- Login CSS -->
    <link href="../../resources/vendors/css/login.css" th:href="@{/resources/vendors/css/login.css}" rel="stylesheet" />
</head>

<body>
<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="top-menu" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand">
                <img alt="Brand" src="../../resources/vendors/pics/exadel-logo.png" th:src="@{/resources/vendors/pics/exadel-logo.png}" />
            </a>
        </div>
        <ul class="nav navbar-right top-nav">
            <li><a id = "langEn" href = "welcome.html">En</a></li>
            <li><a id = "langRu" href = "welcome.html">Ru</a></li>
        </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Container -->
    <div class="container-fluid container1" id="page-wrapper">
        <div class="row row1">

        </div>

        <div class="row row2">
            <div class="col-lg-4 col-md-3 col-sm-2">

            </div>
            <div class="col-lg-4 col-md-6 col-sm-8 col-login">
                <div class="col-lg-offset-4 col-lg-4">

                </div>
                <!-- Login window -->
                <div class="panel panel-default login-window">
                    <div class="panel-body">
                        <form th:action="@{/login}" method="post">
                            <div class="row11">
                                <div class="col-xs-12 form-group input-login">
                                    <div th:if="${loginError}" id="alertLog" class="alert alert-danger" role="alert">
                                        <p>Wrong password or login</p>
                                    </div>
                                    <label for="username">Login</label>
                                    <input type="text" id="username" class="form-control" name="username" placeholder="Login" autofocus="autofocus" required="required" />
                                </div>
                            </div>
                            <div class="row21">
                                <div class="col-xs-12 form-group input-password">
                                    <label for="password">Password</label>
                                    <input type="password" id="password" class="form-control" name="password" placeholder="Password" required="required" />
                                </div>
                            </div>
                            <div class="row31">
                                <div class="col-xs-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" /> Remember me
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <a class="login-button">
                                        <button type="submit" class="btn btn-primary">Log in</button>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.login-window -->

            </div>
            <div class="col-lg-4 col-md-3 col-sm-2"></div>
        </div>
    </div>
    <!-- /.container1 -->

</div>
<!-- /#wrapper -->

</body>
</html>