<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en" style="font-size: 10px; -webkit-tap-highlight-color: rgba(0,0,0,0);">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
</head>
<body style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857143; color: #333; margin: 0;">
<div>
    <nav style="border-radius: 0; box-shadow: 0 2px 14px 2px #0f2736; position: relative; min-height: 50px; margin-bottom: 20px; background-color: #314D5E; border: 1px solid transparent;">
        <div>
            <a style="height: 50px; float: left; font-size: 18px; line-height: 20px; padding: 12px 15px;">
                <img alt="Brand" src="resourses/pics/exadel-logo.png" th:src="'cid:' + ${imageResourceName}" style="vertical-align: middle; border: 0;" />
            </a>
        </div>
    </nav>
    <h1 style="color: #1A394C; text-align: center; font-size: 36px; margin-top: 20px; margin-bottom: 10px; font-family: inherit; font-weight: 500; line-height: 1.1; display: block; box-sizing: border-box;" align="center"> Dear <span>sir</span>,</h1>
    <h3 style="margin-left: 20px; font-size: 24px; margin-top: 20px; margin-bottom: 10px; font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; box-sizing: border-box;"> you have received a training <a href=""><span>Name of training</span></a> to approve.</h3>
    <h3 style="margin-top: 50px; margin-left: 20px; font-size: 24px; margin-bottom: 10px; font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; box-sizing: border-box; position: absolute; padding-bottom: 10px;"> Sincerely, Exadel Training System.</h3>
</div>
</body>
</html>
