<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml" ng-app="trainingApp">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="shortcut icon" href="../../resources/vendors/pics/favicon.gif"
	      th:href="@{/resources/vendors/pics/favicon.gif}"/>

	<title>Training</title>

	<!-- Bootstrap Core CSS -->
	<link href="../../resources/vendors/css/bootstrap.css" th:href="@{/resources/vendors/css/bootstrap.css}"
	      rel="stylesheet"/>

	<!-- Custom CSS -->
	<link href="../../resources/css/global.css" th:href="@{/resources/css/global.css}" rel="stylesheet"/>

	<!-- Custom Fonts -->
	<link href="../../resources/vendors/font-awesome/css/font-awesome.min.css"
	      th:href="@{/resources/vendors/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

	<style>
		.my-drop-zone {
			border: dotted 3px lightgray;
		}

		.nv-file-over {
			border: dotted 3px red;
		}

		/* Default class applied to drop zones on over */
		.another-file-over-class {
			border: dotted 3px green;
		}

		html, body {
			height: 100%;
		}
	</style>

	<!-- Angular -->
	<script src="../../resources/vendors/js/angular.js" th:href="@{/resources/vendors/js/angular.js}"></script>
	<script src="../../resources/js/training-app/app.js" th:href="@{/resources/vendors/js/angular.js}"></script>
	<script src="../../resources/js/global-ctrls/collapse-ctrl.js"
	        th:href="@{/resources/js/global-ctrls/collapse-ctrl.js}"></script>
	<script src="../../resources/js/training-app/page-ctrl.js"
	        th:href="@{/resources/js/global-ctrls/training-ctrl.js}"></script>
	<script src="../../resources/vendors/js/ui-bootstrap-tpls-0.12.1.js"
	        th:href="@{/resources/vendors/js/ui-bootstrap-tpls-0.12.1.js}"></script>
	<script src="../../resources/vendors/js/angular-file-upload.min.js"
	        th:href="@{/resources/vendors/js/angular-file-upload.min.js}"></script>

</head>

<body>
<div id="wrapper">
	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="top-menu" ng-controller="collapseCtrl">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" id="menu-button" ng-click="isCollapsed = !isCollapsed">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand" href="welcome.html" th:href="@{/welcome}">
				<img alt="Brand" src="../../resources/vendors/pics/exadel-logo.png"
				     th:src="@{/resources/vendors/pics/exadel-logo.png}"/>
			</a>
		</div>

		<!-- Top Menu Items -->
		<ul class="nav navbar-right top-nav">
			<li class="active">
				<a href="welcome.html" th:href="@{/welcome}">
					<i class="fa fa-fw fa-user"></i>
					<span sec:authentication="principal.firstName"></span>
				</a>
			</li>

			<li class="active">
				<a href="#" th:href="@{/logout}" id="logout">
					<i class="fa fa-fw fa-power-off"></i>
					Log out
				</a>
			</li>

			<ul class="nav navbar-right top-nav language-panel">
				<li><a class="lang" href="?language=en">En</a></li>
				<li><a class="lang" href="?language=ru">Ru</a></li>
			</ul>
		</ul>

		<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav side-nav" id="left-menu">
				<li id="alltrainings">
					<a href="all-trainings.html" th:href="@{/training/all}">
						<i class="fa fa-fw fa-circle-o"></i>
						<span th:text="#{label.allTrainings}">All trainings</span>
					</a>
				</li>
				<li id="mytrainings">
					<a href="my-trainings.html" th:href="@{/training/my}">
						<i class="fa fa-fw fa-circle-o"></i>
						<span th:text="#{label.myTrainings}">My trainings</span>
					</a>
				</li>
				<li id="newtraining">
					<a href="new-training.html" th:href="@{/training/new}">
						<i class="fa fa-fw fa-circle-o"></i>
						<span th:text="#{label.newTraining}">Create new training</span>
					</a>
				</li>
				<li sec:authorize="hasRole('ROLE_ADMIN')" id="newtrainer">
					<a href="new-trainer.html" th:href="@{/trainer/new}">
						<i class="fa fa-fw fa-circle-o"></i>
						<span th:text="#{label.newTainer}">Add new external trainer</span>
					</a>
				</li>
				<li sec:authorize="hasRole('ROLE_ADMIN')" id="users">
					<a href="users.html" th:href="@{/user/all}">
						<i class="fa fa-fw fa-circle-o"></i>
						<span th:text="#{label.users}">Users</span>
					</a>
				</li>
				<li id="copyright">
					<footer>
						<span th:text="#{label.copyright}">©Exadel, Inc. All Rights Reserved.</span>
					</footer>
				</li>
			</ul>
		</div>
	</nav>
	<!-- /Navigation -->

	<div id="page-wrapper">
		<div class="container-fluid" ng-controller="pageCtrl">
			<!-- Page Heading -->
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h1 class="page-header">Training page</h1>

					<h2 style="display: inline-block; padding-left: 19px">{{training.title}}</h2>
					<a href=""><i class="fa fa-fw fa-pencil"></i></a>
					<button id="registerBtn" class="btn btn-success" type="button">
						<i class="fa fa-fw fa-plus"></i> Register
					</button>
					<button id="unregisterBtn" class="btn btn-danger" type="button">
						<i class="fa fa-fw fa-times"></i> Unregister
					</button>
					<button id="attendenceBtn" class="btn btn-primary" type="button">
						<i class="fa fa-fw fa-book"></i> Attendence book
					</button>
					<button id="addUserBtn" class="btn btn-primary" type="button">
						<i class="fa fa-fw fa-user-plus"></i> Add an external user
					</button>
				</div>
			</div>
			<!-- /Page Heading -->

			<div class="row" style="padding-left:19px">
				<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
					<h4>
						<label>
							Trainer: <a href="#"><i class="fa fa-fw fa-user"></i>{{training.trainerName}}</a>
						</label>
					</h4>
					<h4 ng-style="{color:approveColor}">{{approveText}}</h4>
					<h4 ng-style="{color:registerColor}">{{registerText}}</h4>
					<rating ng-model="training.genRate" max="max" readonly="true"></rating>
					<span class="label"
					      ng-class="{&#39;label-warning&#39;: genPercent&lt;30, &#39;label-info&#39;: genPercent&gt;&#61;30 &amp;&amp; genPercent&lt;70, &#39;label-success&#39;: genPercent&gt;&#61;70}">{{genPercent}}%</span>
					<span ng-show="toShowNoRatings"> (No ratings are left) </span>

					<h4 ng-show="!training.regular"><label>Date:&nbsp;</label>{{training.date}}&nbsp;<label>Time:&nbsp;</label>{{training.time}}
					</h4>
					<div ng-show="training.regular">
						<h4>
							<label>Date of start:&nbsp;</label>{{training.start}}
						</h4>
						<div ng-repeat="day in training.days">
							<h4>
								<label>Day #{{$index+1}}: </label>
								{{day}}
							</h4>

						</div>
					</div>

					<h3>Description</h3>

					<div class="well" style="font-size:16px">
						<p>{{training.description}}</p>
					</div>
				</div>
			</div>
			<!-- TODO: file upload -->
			<hr/>
			<accordion close-others="oneAtATime" style="padding-left:19px">
				<accordion-group is-open="status.open">
					<accordion-heading>
						<div style="font-size:1.17em;">Leave an anonymous opininon
							<i class="pull-right glyphicon"
							   ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
						</div>
					</accordion-heading>

					<rating ng-model="rate" max="max" readonly="false" on-hover="hoveringOver(value)"></rating>
					<span class="label"
					      ng-class="{&#39;label-warning&#39;: percent&lt;30, &#39;label-info&#39;: percent&gt;&#61;30 &amp;&amp; percent&lt;70, &#39;label-success&#39;: percent&gt;&#61;70}">{{percent}}%</span>

					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<br/>
							<label>Your impression about the training: </label>
							<br/>

							<div class="btn-group" dropdown="dropdown"
							     dropdown-append-to-body="dropdown-append-to-body">
								<button type="button" class="btn btn-primary dropdown-toggle"
								        dropdown-toggle="dropdown-toggle">
									{{trainingImpression}}<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="" ng-click="chooseImpression(0)">Happy, that took part </a></li>
									<li><a href="" ng-click="chooseImpression(1)">Not disappointed, that took part </a>
									</li>
									<li><a href="" ng-click="chooseImpression(2)">Disappointed, that took part </a></li>
								</ul>
							</div>

							<br/><br/>
							<label>Was everything clear? </label>
							<br/>

							<div class="btn-group" dropdown="dropdown"
							     dropdown-append-to-body="dropdown-append-to-body">
								<button type="button" class="btn btn-primary dropdown-toggle"
								        dropdown-toggle="dropdown-toggle">
									{{trainingIntelligibility}}<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="" ng-click="chooseIntelligibility(0)">Everything was clear </a></li>
									<li><a href="" ng-click="chooseIntelligibility(1)">Nothing was clear </a></li>
									<li><a href="" ng-click="chooseIntelligibility(2)">Something wasn't clear </a></li>
								</ul>
							</div>

							<br/><br/>
							<label>Was the training interesting? </label>
							<br/>

							<div class="btn-group" dropdown="dropdown"
							     dropdown-append-to-body="dropdown-append-to-body">
								<button type="button" class="btn btn-primary dropdown-toggle"
								        dropdown-toggle="dropdown-toggle">
									{{trainingInterest}}<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="" ng-click="chooseInterest(0)">Wasn't interesting at all </a></li>
									<li><a href="" ng-click="chooseInterest(1)">Was boring in some moments </a></li>
									<li><a href="" ng-click="chooseInterest(2)">Was very interesting </a></li>
								</ul>
							</div>

							<br/><br/>
							<label>Did you learn anything new? </label>
							<br/>

							<div class="btn-group" dropdown="dropdown"
							     dropdown-append-to-body="dropdown-append-to-body">
								<button type="button" class="btn btn-primary dropdown-toggle"
								        dropdown-toggle="dropdown-toggle">
									{{trainingUpdate}}<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="" ng-click="chooseUpdate(0)">Learnt nothing </a></li>
									<li><a href="" ng-click="chooseUpdate(1)">Learnt something </a></li>
									<li><a href="" ng-click="chooseUpdate(2)">Everything was new </a></li>
								</ul>
							</div>
						</div>

						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<br/>
							<label>Estimate the effectiveness of the training </label>
							<br/>

							<div class="btn-group" dropdown="dropdown"
							     dropdown-append-to-body="dropdown-append-to-body">
								<button type="button" class="btn btn-primary dropdown-toggle"
								        dropdown-toggle="dropdown-toggle">
									{{trainingEffectiveness}}<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="" ng-click="chooseEffectiveness(1)">1 </a></li>
									<li><a href="" ng-click="chooseEffectiveness(2)">2 </a></li>
									<li><a href="" ng-click="chooseEffectiveness(3)">3 </a></li>
									<li><a href="" ng-click="chooseEffectiveness(4)">4 </a></li>
									<li><a href="" ng-click="chooseEffectiveness(5)">5 </a></li>
								</ul>
							</div>

							<br/><br/>
							<label>Will you recommend this training? </label>
							<br/>

							<div class="btn-group" dropdown="dropdown"
							     dropdown-append-to-body="dropdown-append-to-body">
								<button type="button" class="btn btn-primary dropdown-toggle"
								        dropdown-toggle="dropdown-toggle">
									{{trainingRecommendation}}<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="" ng-click="chooseRecommendation(0)">Yes </a></li>
									<li><a href="" ng-click="chooseRecommendation(1)">No </a></li>
								</ul>
							</div>

							<br/><br/>
							<label>Do you want to listen to this trainer again? </label>
							<br/>

							<div class="btn-group" dropdown="dropdown"
							     dropdown-append-to-body="dropdown-append-to-body">
								<button type="button" class="btn btn-primary dropdown-toggle"
								        dropdown-toggle="dropdown-toggle">
									{{trainingTrainer}}<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="" ng-click="chooseTrainer(0)">Yes </a></li>
									<li><a href="" ng-click="chooseTrainer(1)">No </a></li>
								</ul>
							</div>

							<br/><br/>
							<label>Leave your comment about the training </label>
							<br/>
							<textarea style="width:80%" ng-model="comment"></textarea>
						</div>
					</div>

					<br/><br/>
					<button class="btn btn-success" type="button" style="width: 100px">
						Send
					</button>
				</accordion-group>
			</accordion>

			<div nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
				<div class="well my-drop-zone" nv-file-over="" uploader="uploader">
					Base drop zone
				</div>
			</div>

			<table class="table">
				<thead>
				<tr>
					<th width="50%">Name</th>
					<th ng-show="uploader.isHTML5">Size</th>
					<th ng-show="uploader.isHTML5">Progress</th>
					<th>Status</th>
					<th>Actions</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="item in uploader.queue">
					<td><strong>{{ item.file.name }}</strong></td>
					<td ng-show="uploader.isHTML5" nowrap="nowrap">{{ item.file.size/1024/1024|number:2 }} MB</td>
					<td ng-show="uploader.isHTML5">
						<div class="progress" style="margin-bottom: 0;">
							<div class="progress-bar" role="progressbar"
							     ng-style="{ 'width': item.progress + '%' }"></div>
						</div>
					</td>
					<td class="text-center">
						<span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
						<span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
						<span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
					</td>
					<td nowrap="nowrap">
						<button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"
						        ng-disabled="item.isReady || item.isUploading || item.isSuccess">
							<span class="glyphicon glyphicon-upload"></span> Upload
						</button>
						<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()"
						        ng-disabled="!item.isUploading">
							<span class="glyphicon glyphicon-ban-circle"></span> Cancel
						</button>
						<button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
							<span class="glyphicon glyphicon-trash"></span> Remove
						</button>
					</td>
				</tr>
				</tbody>
			</table>

			<hr/>
			<div class="row" style="padding-left:19px">
				<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
					<h3>Feedbacks</h3>

					<pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
					<div ng-repeat="feedback in feedbacks">
						<div class="well">
							<b style="font-size:16px">{{feedback.user}}</b>
							<br/>
							<rating ng-model="feedback.rate" max="max" readonly="true"></rating>
							<span class="label"
							      ng-class="{&#39;label-warning&#39;: feedback.percent&lt;30, &#39;label-info&#39;: feedback.percent&gt;&#61;30 &amp;&amp; feedback.percent&lt;70, &#39;label-success&#39;: feedback.percent&gt;&#61;70}">{{feedback.percent}}%</span>

							<p class="field"><label>Impression:&nbsp;</label>{{feedback.impression}}</p>

							<p class="field"><label>Intelligibility:&nbsp;</label>{{feedback.intelligibility}}</p>

							<p class="field"><label>Interest:&nbsp;</label>{{feedback.interest}}</p>

							<p class="field"><label>New knowledge:&nbsp;</label>{{feedback.update}}</p>

							<p class="field"><label>Effectiveness:&nbsp;</label>{{feedback.effectiveness}}</p>

							<p class="field"><label>Will recommend:&nbsp;</label>{{feedback.recommendation}}</p>

							<p class="field"><label>Want to listen again:&nbsp;</label>{{feedback.trainer}}</p>

							<p class="field"><label>Comment&nbsp;</label>{{feedback.text}}</p>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
</div>
</body>
</html>