<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" ng-app="allTrainingsApp">
	<head>
        <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="" />
		<meta name="author" content="" />
        <link rel="shortcut icon" href="../../resources/vendors/pics/favicon.gif" th:href="@{/resources/vendors/pics/favicon.gif}" />

		<title>User</title>
		
		<!-- Bootstrap Core CSS -->
		<link href="../../resources/vendors/css/bootstrap.css" th:href="@{/resources/vendors/css/bootstrap.css}" rel="stylesheet" />

		<!-- Custom CSS -->
		<link href="../../resources/css/global.css" th:href="@{/resources/css/global.css}" rel="stylesheet" />

		<!-- Custom Fonts -->
		<link href="../../resources/vendors/font-awesome/css/font-awesome.min.css" th:href="@{/resources/vendors/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
		
        <!-- jQuery -->
		<script src="../../resources/vendors/js/jquery.js" th:src="@{/resources/vendors/js/jquery.js"></script>
		
		<!-- Bootstrap Core JavaScript -->
		<script src="../../resources/vendors/js/bootstrap.js" th:src="@{/resources/vendors/js/bootstrap.js}"></script>
       
        <!-- Angular -->
		<script src="../../resources/vendors/js/angular.js" th:src="@{/resources/vendors/js/angular.js}"></script>
		<script src="../../resources/js/global-ctrls/collapse-ctrl.js" th:src="@{/resources/js/global-ctrls/collapse-ctrl.js}"></script>
		<script src="../../resources/vendors/js/ui-bootstrap-tpls-0.12.1.js" th:src="@{/resources/vendors/js/ui-bootstrap-tpls-0.12.1.js}"></script>
	</head>

	<body>
		<div id="wrapper">

			<!-- Navigation -->
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id = "top-menu" ng-controller="collapseCtrl">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" id="menu-button" ng-click="isCollapsed = !isCollapsed">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<a class="navbar-brand" href="welcome.html" th:href="@{/welcome}">
						<img alt="Brand" src="../../resources/vendors/pics/exadel-logo.png" th:src="@{/resources/vendors/pics/exadel-logo.png}" />
					</a>
				</div>

				<!-- Top Menu Items -->
				<ul class="nav navbar-right top-nav">
					<li class="active">
						<a href = "welcome.html" th:href="@{/welcome}">
							<i class = "fa fa-fw fa-user"></i>
							<span sec:authentication="name"></span>
						</a>
					</li>

					<li class="active">
						<a href="#" th:href="@{/logout}" id="logout">
							<i class="fa fa-fw fa-power-off"></i>
							Log out
						</a>
					</li>

					<ul class="nav navbar-right top-nav language-panel">
						<li><a class="lang" href = "all-trainings.html">En</a></li>
						<li><a class="lang" href = "all-trainings.html">Ru</a></li>
					</ul>
				</ul>

				<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
				<div class="collapse navbar-collapse" collapse="isCollapsed">
					<ul class="nav navbar-nav side-nav" id = "left-menu">
						<li id = "alltrainings">
							<a href="all-trainings.html" th:href="@{/training/all}">
								<i class="fa fa-fw fa-circle"></i>
								All trainings
							</a>
						</li>
						<li id = "mytrainings">
							<a href="#" ng-click="isCollapsed2=!isCollapsed2">
								<i class="fa fa-fw fa-circle"></i>
								My trainings
								<i class="fa fa-fw fa-caret-down"></i>
							</a>
							<ul collapse="isCollapsed2">
								<li>
									<a href="../my-trainings/my-trainings.html">
										<i class="fa fa-fw fa-angle-right"></i>
										As a trainer
									</a>
								</li>
								<li>
									<a href="../my-trainings/my-trainings.html">
										<i class="fa fa-fw fa-angle-right"></i>
										As a guest
									</a>
								</li>
							</ul>
						</li>
						<li id = "newtraining">
							<a href="new-training.html" th:href="@{/training/new}">
								<i class="fa fa-fw fa-circle"></i>
								Create new training
							</a>
						</li>
						<li sec:authorize="hasRole('ROLE_ADMIN')" id = "newtrainer">
							<a href="new-trainer.html">
								<i class="fa fa-fw fa-circle"></i>
								Add new external trainer
							</a>
						</li>
						<li sec:authorize="hasRole('ROLE_ADMIN')" id = "users">
							<a href="users.html">
								<i class="fa fa-fw fa-circle"></i>
								Users
							</a>
						</li>
						<li id = "copyright">
							<footer>
								<span>©Exadel, Inc. All Rights Reserved.</span>
							</footer>
						</li>
					</ul>
				</div>
			</nav>
			<!-- /Navigation -->

			<div id="page-wrapper">
				<div class="container-fluid">

					<!-- Page Heading -->
					<div class="row">
						<div class="col-lg-12">
							<h1 class="page-header">
								User <small>user</small>
							</h1>
						</div>
					</div>
                    <!-- /Page Heading -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /#page-wrapper -->
		</div>
		<!-- /#wrapper -->
	</body>
</html>