<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml" ng-app="welcomeApp">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<base th:href="@{/}"/>

	<link rel="shortcut icon" href="../../resources/vendors/pics/favicon.gif"
	      th:href="@{/resources/vendors/pics/favicon.gif}"/>

	<title th:text="#{welcome.page.title}">Welcome</title>

	<!-- Bootstrap Core CSS -->
	<link href="../../resources/vendors/css/bootstrap.css" th:href="@{/resources/vendors/css/bootstrap.css}"
	      rel="stylesheet"/>

	<!-- Custom CSS -->
	<link href="../../resources/css/global.css" th:href="@{/resources/css/global.css}" rel="stylesheet"/>

	<!-- Custom Fonts -->
	<link href="../../resources/vendors/font-awesome/css/font-awesome.min.css"
	      th:href="@{/resources/vendors/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

	<!-- jQuery -->
	<script src="../../resources/vendors/js/jquery-2.1.4.min.js"
	        th:src="@{/resources/vendors/js/jquery-2.1.4.min.js}"></script>

	<!-- Angular -->
	<script src="../../resources/vendors/js/angular.min.js" th:src="@{/resources/vendors/js/angular.min.js}"></script>
	<script src="../../resources/js/welcome-app/app.js" th:src="@{/resources/js/welcome-app/app.js}"></script>
	<script src="../../resources/js/global-ctrls/collapse-ctrl.js"
	        th:src="@{resources/js/global-ctrls/collapse-ctrl.js}"></script>
	<script src="../../resources/js/global-ctrls/language-ctrl.js"
	        th:src="@{/resources/js/global-ctrls/language-ctrl.js}"></script>
	<script src="../../resources/js/welcome-app/alert-ctrl.js"
	        th:src="@{/resources/js/welcome-app/alert-ctrl.js}"></script>
	<script src="../../resources/js/welcome-app/square-ctrl.js"
	        th:src="@{/resources/js/welcome-app/square-ctrl.js}"></script>
	<script src="../../resources/vendors/js/ui-bootstrap-tpls-0.12.1.js"
	        th:src="@{/resources/vendors/js/ui-bootstrap-tpls-0.12.1.js}"></script>
</head>

<body>
<div id="wrapper">

	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="top-menu" ng-controller="collapseCtrl">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" id="menu-button" ng-click="isCollapsed = !isCollapsed">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand" href="welcome.html" th:href="@{/welcome}">
				<img alt="Brand" src="../../resources/vendors/pics/exadel-logo.png"
				     th:src="@{/resources/vendors/pics/exadel-logo.png}"/>
			</a>
		</div>

		<!-- Top Menu Items -->
		<ul class="nav navbar-right top-nav">
			<li class="active">
				<a href="welcome.html" th:href="@{/welcome}">
					<i class="fa fa-fw fa-user"></i>
					<span sec:authentication="principal.firstName"></span>
				</a>
			</li>

			<li class="active">
				<a href="" th:href="@{/logout}" id="logout">
					<i class="fa fa-fw fa-power-off"></i>
					<span th:text="#{label.logout}">Log out</span>
				</a>
			</li>

			<ul class="nav navbar-right top-nav language-panel" ng-controller="languageCtrl">
				<li><a class="lang" href="" ng-click="languageSwitcher('en')">En</a></li>
				<li><a class="lang" href="" ng-click="languageSwitcher('ru')">Ru</a></li>
			</ul>
		</ul>

		<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
		<div class="collapse navbar-collapse" collapse="isCollapsed">
			<ul class="nav navbar-nav side-nav" id="left-menu">
				<li id="alltrainings">
					<a href="all-trainings.html" th:href="@{/training/all}">
						<i class="fa fa-fw fa-circle-o"></i>
						<span th:text="#{label.allTrainings}">All trainings</span>
					</a>
				</li>
				<li id="mytrainings">
					<a href="my-trainings.html" th:href="@{/training/my}">
						<i class="fa fa-fw fa-circle-o"></i>
						<span th:text="#{label.myTrainings}">My trainings</span>
					</a>
				</li>
				<li id="newtraining">
					<a href="new-training.html" th:href="@{/training/new}">
						<i class="fa fa-fw fa-circle-o"></i>
						<span th:text="#{label.newTraining}">Create new training</span>
					</a>
				</li>
				<li sec:authorize="hasRole('ROLE_ADMIN')" id="newtrainer">
					<a href="new-trainer.html" th:href="@{/user/external/new}">
						<i class="fa fa-fw fa-circle-o"></i>
						<span th:text="#{label.newTainer}">Add new external trainer</span>
					</a>
				</li>
				<li sec:authorize="hasRole('ROLE_ADMIN')" id="users">
					<a href="users.html" th:href="@{/user/all}">
						<i class="fa fa-fw fa-circle-o"></i>
						<span th:text="#{label.users}">Users</span>
					</a>
				</li>
				<li id="copyright">
					<footer>
						<span th:text="#{label.copyright}">©Exadel, Inc. All Rights Reserved.</span>
					</footer>
				</li>
			</ul>
		</div>
	</nav>
	<!-- /Navigation -->

	<div id="page-wrapper">
		<div class="container-fluid">

			<!-- Page Heading -->
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h1 class="page-header">
						<span th:text="#{label.notifications}">Notification</span>
						<small th:text="#{label.notificationsHeader.text}">Hot news about your trainings</small>
					</h1>
				</div>
			</div>
			<!-- /.row -->

			<div class="row" ng-controller="squareCtrl">
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
					<!-- 1 -->
					<div class="panel panel-red">
						<div class="panel-heading">
							<!-- row -->
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
									<i class="fa fa-bomb fa-5x"></i>
								</div>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-right">
									<div class="huge">{{hot}}</div>
									<div th:text="#{label.hotTrainings}">Hot trainings!</div>
								</div>
							</div>
							<!-- row -->
						</div>
						<a href="" th:href="@{training/all}">
							<div class="panel-footer">
								<span class="pull-left" th:text="#{label.viewDetails}">View Details</span>
								<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

								<div class="clearfix"></div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
					<!-- 2 -->
					<div class="panel panel-green">
						<div class="panel-heading">
							<!-- row -->
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
									<i class="fa fa-tasks fa-5x"></i>
								</div>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-right">
									<div class="huge">{{new}}</div>
									<div th:text="#{label.newTrainings}">New trainings!</div>
								</div>
							</div>
							<!-- row -->
						</div>
						<a href="" th:href="@{training/all}">
							<div class="panel-footer">
								<span class="pull-left" th:text="#{label.viewDetails}">View Details</span>
								<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

								<div class="clearfix"></div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
					<!-- 3 -->
					<div class="panel panel-yellow">
						<div class="panel-heading">
							<!-- row -->
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
									<i class="fa fa-shopping-cart fa-5x"></i>
								</div>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-right">
									<div class="huge">{{recommend}}</div>
									<div th:text="#{label.recommendTrainings}">We recommend!</div>
								</div>
							</div>
							<!-- row -->
						</div>
						<a href="" th:href="@{training/all}">
							<div class="panel-footer">
								<span class="pull-left" th:text="#{label.viewDetails}">View Details</span>
								<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

								<div class="clearfix"></div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
					<!-- 4 -->
					<div class="panel panel-primary">
						<div class="panel-heading">
							<!-- row -->
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
									<i class="fa fa-users fa-5x"></i>
								</div>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-right">
									<div class="huge">{{general}}</div>
									<div th:text="#{label.generalTrainings}">General trainings!</div>
								</div>
							</div>
							<!-- row -->
						</div>
						<a href="" th:href="@{/training/all}">
							<div class="panel-footer">
								<span class="pull-left" th:text="#{label.viewDetails}">View Details</span>
								<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

								<div class="clearfix"></div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<!-- /.row -->

			<div class="row" ng-controller="alertCtrl">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div>
						<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
							<p>
								<i class="fa fa-info-circle"></i>
								<span ng-bind-html="messages[$index]"></span>
							</p>
						</alert>
					</div>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
</body>
</html>