<!DOCTYPE html>
<html lang="en" ng-app="allTrainingsApp">
	<head>
        <meta charset="utf-8"></meta>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<meta name="description" content=""></meta>
		<meta name="author" content=""></meta>
        <link rel="shortcut icon" href="../../resourses/pics/favicon.gif"></link>

		<title>All trainings page</title>
		
		<!-- Bootstrap Core CSS -->
		<link href="../../resourses/css/bootstrap.css" rel="stylesheet"></link>

		<!-- Custom CSS -->
		<link href="../../resourses/css/global.css" rel="stylesheet"></link>

		<!-- Morris Charts CSS -->
		<link href="../../resourses/css/plugins/morris.css" rel="stylesheet"></link>

		<!-- Custom Fonts -->
		<link href="../../resourses/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
		
        <!-- UI Grid CSS -->
		<link href="../../resourses/css/ui-grid.css" rel="stylesheet"></link>
		
        <!-- Angular -->
		<script src="../../resourses/js/angular.js"></script>
		<script src="../../resourses/js/ui-grid.js"></script>
		<script src="all-trainings-app/app.js"></script>
		<script src="../global-ctrls/collapse-ctrl.js"></script>
		<script src="all-trainings-app/tabs-ctrl.js"></script>
		<script src="../../resourses/js/ui-bootstrap-tpls-0.12.1.js"></script>
	</head>

	<body>
		<div id="wrapper">

			<!-- Navigation -->
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id = "top-menu" ng-controller="collapseCtrl">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" id="menu-button" ng-click="isCollapsed = !isCollapsed">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<a class="navbar-brand" href="../welcome/welcome.html">
                        <img alt="Brand" src="../../resourses/pics/exadel-logo.png"></img>
					</a>
				</div>

				<!-- Top Menu Items -->
				<ul class="nav navbar-right top-nav">
					<li class="active">   
						<a href = "../welcome/welcome.html">      
							<i class = "fa fa-fw fa-user"></i>
							User Name  
						</a>     
					</li>

					<li class="active">
						<a href="../login/login.html">
							<i class="fa fa-fw fa-power-off"></i> 
							Log out
						</a>
					</li>

					<ul class="nav navbar-right top-nav language-panel">
						<li><a class="lang" href = "all-trainings.html">En</a></li>
						<li><a class="lang" href = "all-trainings.html">Ru</a></li>
                	</ul>
				</ul>

				<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
				<div class="collapse navbar-collapse" collapse="isCollapsed">
					<ul class="nav navbar-nav side-nav" id = "left-menu">
						<li id = "alltrainings">
							<a href="all-trainings.html">
								<i class="fa fa-fw fa-circle"></i> 
								All trainings
							</a>
						</li>
						<li id = "mytrainings">
							<a href="#" ng-click="isCollapsed2=!isCollapsed2">
								<i class="fa fa-fw fa-circle"></i> 
								My trainings 
								<i class="fa fa-fw fa-caret-down"></i>
							</a>
							<ul collapse="isCollapsed2">
								<li>
									<a href="../my-trainings/my-trainings.html">
										<i class="fa fa-fw fa-angle-right"></i>
										As a trainer
									</a>
								</li>
								<li>
									<a href="../my-trainings/my-trainings.html">
										<i class="fa fa-fw fa-angle-right"></i>
										As a guest
									</a>
								</li>
							</ul>
						</li>
						<li id = "newtraining">
							<a href="../new-training/new-training.html">
								<i class="fa fa-fw fa-circle"></i> 
								Create new training
							</a>
						</li>
						<li id = "newtrainer">
							<a href="../new-trainer/new-trainer.html">
								<i class="fa fa-fw fa-circle"></i> 
								Add new external trainer
							</a>
						</li>
						<li id = "users">
							<a href="../users/users.html">
								<i class="fa fa-fw fa-circle"></i> 
								Users
							</a>
						</li>
						<li id = "copyright">
							<footer>
								<span>©Exadel, Inc. All Rights Reserved.</span>
							</footer>
						</li>
					</ul>
				</div>
			</nav>

			<div id="page-wrapper">
				<div class="container-fluid">

					<!-- Page Heading -->
					<div class="row">
						<div class="col-lg-12">
							<h1 class="page-header">
								All trainings <small>Information about all trainings</small>
							</h1>
						</div>
					</div>
                    <!-- /Page Heading -->
                    
                    <!-- Tabs -->     
                    <div class="tabs">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#fut" data-toggle="tab">Future trainings</a></li>
                            <li><a href="#rec" data-toggle="tab">Recomendations</a></li>
                            <li><a href="#hist" data-toggle="tab">History of trainings</a></li>
                            <li><a href="#wait" data-toggle="tab">Waiting list</a></li>
                        </ul>
                        <!-- Tab content -->
                        <div class="tab-content panel panel-default panel-body">
                           	<!-- Future trainings -->
                            <div class="tab-pane fade in active" id="fut">
                               	<!-- Search row -->
                                <div class="row search-row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="search-select">
                                   		<select class="form-control">
                                    		<option>By training title</option>
                                    		<option>By trainer name</option>
                                    		<option>By tags</option>
                                    		<option>By date</option>
                                    		<option>...</option>
                                    	</select>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                    	<div class="input-group">
                                    	<input type="text" class="form-control" placeholder="Type here">
                                    	<span class="input-group-btn">
        									<button class="btn btn-default" type="button">Search</button>
      									</span>
                                    </div>
                                    </div>          
                                </div>
                                <!-- /.row -->
                                
                                <!-- Trainings -->
                                <div class="row">
                                	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="table-responsive">
											<table class="table table-bordered table-striped table-hover ">
												<thead>
													<tr>
														<th>Title</th>
														<th>Date</th>
														<th>Location</th>
														<th>Trainer name</th>
														<th>Places free/all</th>
														<th>Tags</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>JavaScript frameworks: Angular.js. How it works?</td>
														<td>5 May 2015</td>
														<td>Unit 243</td>
														<td>Shchaurouski Slava</td>
														<td>10/15</td>
														<td><span class="label label-info tags">#js</span><span class="label label-default tags">#angular.js</span><span class="label label-success tags">#front-end</span><span class="label label-warning tags">#framework</span></td>
													</tr>
													<tr>
														<td>Item 1</td>
														<td>Item 2</td>
														<td>Item 3</td>
														<td>Item 4</td>
														<td>Item 5</td>
														<td><span class="label label-default tags">#tag</span></td>
													</tr>
													<tr>
														<td>Item 1</td>
														<td>Item 2</td>
														<td>Item 3</td>
														<td>Item 4</td>
														<td>Item 5</td>
														<td><span class="label label-success tags">#tag</span></td>
													</tr>
													<tr>
														<td>Item 1</td>
														<td>Item 2</td>
														<td>Item 3</td>
														<td>Item 4</td>
														<td>Item 5</td>
														<td><span class="label label-warning tags">#tag</span></td>
													</tr>
													<tr>
														<td>Item 1</td>
														<td>Item 2</td>
														<td>Item 3</td>
														<td>Item 4</td>
														<td>Item 5</td>
														<td><span class="label label-danger tags">#tag</span></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
                                </div>
                           		<!-- /Trainings -->
                            </div>
                            <!-- /Future trainings -->
                            
                            <!-- Recomendations -->
                            <div class="tab-pane fade" id="rec">
                                <!-- Search row -->
                                <div class="row search-row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="search-select">
                                   		<select class="form-control">
                                    		<option>By training title</option>
                                    		<option>By trainer name</option>
                                    		<option>By tags</option>
                                    		<option>By date</option>
                                    		<option>...</option>
                                    	</select>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                    	<div class="input-group">
                                    	<input type="text" class="form-control" placeholder="Type here">
                                    	<span class="input-group-btn">
        									<button class="btn btn-default" type="button">Search</button>
      									</span>
                                    </div>
                                    </div>          
                                </div>
                                <!-- /Search row -->
                                
                                <!-- Tags row -->
                                <div class="row">
                                	<div class="container-fluid">
                                		<div class="panel panel-default">
                                			<div class="panel-heading">
                                				<h3 class="panel-title">Your tags</h3>
                                			</div>
                                			<div class="panel-body">
                                				<span class="label label-warning tags">#tag</span>
												<span class="label label-danger tags">#tag</span>
												<span class="label label-success tags">#tag</span>
												<span class="label label-default tags">#tag</span>
												<span class="label label-info tags">#tag</span>
												<span class="label label-primary tags">#tag</span>
                                			</div>
                                		</div>
                                	</div>
                                </div>
                                <!-- /Tags row -->
                                
                                <!-- Trainings -->
                                <div class="row">
                                	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="table-responsive">
											<table class="table table-bordered table-striped table-hover ">
												<thead>
													<tr>
														<th>Title</th>
														<th>Date</th>
														<th>Location</th>
														<th>Trainer name</th>
														<th>Places free/all</th>
														<th>Tags</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>Item 1</td>
														<td>Item 2</td>
														<td>Item 3</td>
														<td>Item 4</td>
														<td>Item 5</td>
														<td><span class="label label-info tags">#tag</span></td>
													</tr>
													<tr>
														<td>Item 1</td>
														<td>Item 2</td>
														<td>Item 3</td>
														<td>Item 4</td>
														<td>Item 5</td>
														<td><span class="label label-default tags">#tag</span></td>
													</tr>
													<tr>
														<td>Item 1</td>
														<td>Item 2</td>
														<td>Item 3</td>
														<td>Item 4</td>
														<td>Item 5</td>
														<td><span class="label label-success tags">#tag</span></td>
													</tr>
													<tr>
														<td>Item 1</td>
														<td>Item 2</td>
														<td>Item 3</td>
														<td>Item 4</td>
														<td>Item 5</td>
														<td><span class="label label-warning tags">#tag</span></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
                                </div>
                           		<!-- /Trainings -->
                            </div>
                            <!-- /Recomendations -->
                            
                            <!-- History -->
                            <div class="tab-pane fade" id="hist">
                                <!-- Search row -->
                                <div class="row search-row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="search-select">
                                   		<select class="form-control">
                                    		<option>By training title</option>
                                    		<option>By trainer name</option>
                                    		<option>By tags</option>
                                    		<option>By date</option>
                                    		<option>...</option>
                                    	</select>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                    	<div class="input-group">
                                    	<input type="text" class="form-control" placeholder="Type here">
                                    	<span class="input-group-btn">
        									<button class="btn btn-default" type="button">Search</button>
      									</span>
                                    </div>
                                    </div>          
                                </div>
                                <!-- /.row -->
                                
                                <!-- Trainings -->
                                <div class="row">
                                	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="table-responsive">
											<table class="table table-bordered table-striped table-hover ">
												<thead>
													<tr>
														<th>Title</th>
														<th>Date</th>
														<th>Location</th>
														<th>Trainer name</th>
														<th>Places free/all</th>
														<th>Tags</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>Item 1</td>
														<td>Item 2</td>
														<td>Item 3</td>
														<td>Item 4</td>
														<td>Item 5</td>
														<td><span class="label label-info tags">#tag</span></td>
													</tr>
													<tr>
														<td>Item 1</td>
														<td>Item 2</td>
														<td>Item 3</td>
														<td>Item 4</td>
														<td>Item 5</td>
														<td><span class="label label-default tags">#tag</span></td>
													</tr>
													<tr>
														<td>Item 1</td>
														<td>Item 2</td>
														<td>Item 3</td>
														<td>Item 4</td>
														<td>Item 5</td>
														<td><span class="label label-success tags">#tag</span></td>
													</tr>
													<tr>
														<td>Item 1</td>
														<td>Item 2</td>
														<td>Item 3</td>
														<td>Item 4</td>
														<td>Item 5</td>
														<td><span class="label label-warning tags">#tag</span></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
                                </div>
                           		<!-- /Trainings -->
                            </div>
                            <!-- /History -->
                            
                            <!-- Waiting list -->
                            <div class="tab-pane fade" id="wait">
                                <!-- Search row -->
                                <div class="row search-row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="search-select">
                                   		<select class="form-control">
                                    		<option>By training title</option>
                                    		<option>By trainer name</option>
                                    		<option>By tags</option>
                                    		<option>By date</option>
                                    		<option>...</option>
                                    	</select>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                    	<div class="input-group">
                                    	<input type="text" class="form-control" placeholder="Type here">
                                    	<span class="input-group-btn">
        									<button class="btn btn-default" type="button">Search</button>
      									</span>
                                    </div>
                                    </div>          
                                </div>
                                <!-- /.row -->
                                
                                <!-- Trainings -->
                                <div class="row">
                                	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="table-responsive">
											<table class="table table-bordered table-striped table-hover ">
												<thead>
													<tr>
														<th>Title</th>
														<th>Date</th>
														<th>Location</th>
														<th>Trainer name</th>
														<th>Places free/all</th>
														<th>Tags</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>Item 1</td>
														<td>Item 2</td>
														<td>Item 3</td>
														<td>Item 4</td>
														<td>Item 5</td>
														<td><span class="label label-info tags">#tag</span></td>
													</tr>
													<tr>
														<td>Item 1</td>
														<td>Item 2</td>
														<td>Item 3</td>
														<td>Item 4</td>
														<td>Item 5</td>
														<td><span class="label label-default tags">#tag</span></td>
													</tr>
													<tr>
														<td>Item 1</td>
														<td>Item 2</td>
														<td>Item 3</td>
														<td>Item 4</td>
														<td>Item 5</td>
														<td><span class="label label-success tags">#tag</span></td>
													</tr>
													<tr>
														<td>Item 1</td>
														<td>Item 2</td>
														<td>Item 3</td>
														<td>Item 4</td>
														<td>Item 5</td>
														<td><span class="label label-warning tags">#tag</span></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
                                </div>
                           		<!-- /Trainings -->
                            </div>
                            <!-- Waiting list -->
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- /Tabs -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /#page-wrapper -->
		</div>
		<!-- /#wrapper -->
		
        <!-- jQuery -->
		<script src="../../resourses/js/jquery.js"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="../../resourses/js/bootstrap.js"></script>
	</body>
</html>