.row1 {
    height: 25%;
}

.row2 {
    height: 25%;
    min-height: 230px;
}

#top-menu {
    opacity: 0.9;
    box-shadow: 0px 2px 14px 2px #0f2736;
}

.container1 {
    height: 100%;
    margin: 0 auto -50px;
}

.credit {
    margin: 0;
}

#wrapper {
    height: 100%;
}

html {
    height: 100%;
    background-color: white;
}

#langRu {
    padding-left: 5px; 
    padding-right: 5px;
}

#langEn {
    padding-right: 5px;
    padding-left: 5px;
}

.language-panel {
	height: 50px;
	padding: 12px 15px;
	font-size: 19px;
}

body {
    padding-top: 50px;
    height: 100%;
    background-color: #fff;
    min-height: 100%;
    position: relative;
    margin: 0;
}

#footer {
    background-color: black;
    height: 50px;
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 50px;
}
.login-window {
    height: 230px;
    width: 100%;
}

.login-button {
    float: right;
}

.input-login {
    padding-bottom: 10px;
}

.input-password {
    padding-bottom: 5px;
}

.col-login {
    height: 100%;
}

#top-pannel {
    background-color: #216FA0;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.top-nav>li>b {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #285069;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}