<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>All trainings page</title>
		
		<!-- Bootstrap Core CSS -->
		<link href="css/bootstrap.css" rel="stylesheet">

		<!-- Custom CSS -->
		<link href="css/global.css" rel="stylesheet">

		<!-- Morris Charts CSS -->
		<link href="css/plugins/morris.css" rel="stylesheet">

		<!-- Custom Fonts -->
		<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<div id="wrapper">

			<!-- Navigation -->
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id = "top-menu">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" id="menu-button">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<a class="navbar-brand" href="welcome.html">
						<img alt="Brand" src="pics/exadel-logo.png">
					</a>
				</div>

				<!-- Top Menu Items -->
				<ul class="nav navbar-right top-nav">
					<!--TODO!!! dynamic-->
					<li class="active">   
						<a href = "welcome.html">      
							<i class = "fa fa-fw fa-user"></i>
							userName  
						</a>     
					</li>

					<li class="active">
						<a href="login.html">
							<i class="fa fa-fw fa-power-off"></i> 
							Log Out
						</a>
					</li>

					<ul class="nav navbar-right top-nav language-panel">
						<li><a id = "langEn" href = "welcome.html">En</a></li>
						<li><a id = "langRu" href = "welcome.html">Ru</a></li>
                	</ul>
				</ul>

				<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav side-nav" id = "left-menu">
						<li id = "alltrainings">
							<a href="alltrainings.html">
								<i class="fa fa-fw fa-circle-o"></i> 
								All trainings
							</a>
						</li>
						<li id = "mytrainings">
							<a href="javascript:;" data-toggle="collapse" data-target="#demo">
								<i class="fa fa-fw fa-circle-o"></i> 
								My trainings 
								<i class="fa fa-fw fa-caret-down"></i>
							</a>
							<ul id="demo" class="collapse">
								<li>
									<a href="mytrainings.html">
										<i class="fa fa-fw fa-angle-right"></i>
										As a trainer
									</a>
								</li>
								<li>
									<a href="mytrainings.html">
										<i class="fa fa-fw fa-angle-right"></i>
										As a guest
									</a>
								</li>
							</ul>
						</li>
						<li id = "newtraining">
							<a href="newtraining.html">
								<i class="fa fa-fw fa-circle-o"></i> 
								Create new training
							</a>
						</li>
						<li id = "newtrainer">
							<a href="newtrainer.html">
								<i class="fa fa-fw fa-circle-o"></i> 
								Add new external trainer
							</a>
						</li>
						<li id = "users">
							<a href="users.html">
								<i class="fa fa-fw fa-circle-o"></i> 
								Users
							</a>
						</li>
						<li id = "copyright">
							<footer>
								<p>©Exadel, Inc. All Rights Reserved.</p>
							</footer>
						</li>
					</ul>
				</div>
			</nav>

			<div id="page-wrapper">
				<div class="container-fluid">

					<!-- Page Heading -->
					<div class="row">
						<div class="col-lg-12">
							<h1 class="page-header">
								All trainings <small>Information about all trainings</small>
							</h1>
						</div>
					</div>
                    <!-- /.row -->
                    
                    <!-- Tabs -->     
                    <div class="tabs">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#fut" data-toggle="tab">Fututre trainings</a></li>
                            <li><a href="#rec" data-toggle="tab">Recomendations</a></li>
                            <li><a href="#hist" data-toggle="tab">History of trainings</a></li>
                            <li><a href="#wait" data-toggle="tab">Waiting list</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="fut">
                                <div class="row">
                                    
                                </div>
                            </div>
                            <div class="tab-pane fade" id="rec">
                                
                            </div>
                            <div class="tab-pane fade" id="hist">
                                
                            </div>
                            <div class="tab-pane fade" id="wait">
                                
                            </div>
                        </div>
                    </div>
                    
                    <!-- /.ul -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /#page-wrapper -->
		</div>
		<!-- /#wrapper -->

		<!-- jQuery -->
		<script src="js/jquery.js"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>