<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Welcome page</title>
		
		<!-- Bootstrap Core CSS -->
		<link href="css/bootstrap.css" rel="stylesheet">

		<!-- Custom CSS -->
		<link href="css/global.css" rel="stylesheet">

		<!-- Morris Charts CSS -->
		<link href="css/plugins/morris.css" rel="stylesheet">

		<!-- Custom Fonts -->
		<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<div id="wrapper">

			<!-- Navigation -->
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id = "top-menu">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" id="menu-button">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<a class="navbar-brand" href="welcome.html">
						<img alt="Brand" src="pics/exadel-logo.png">
					</a>
				</div>

				<!-- Top Menu Items -->
				<ul class="nav navbar-right top-nav">
					<!--TODO!!! dynamic-->
					<li class="active">   
						<a href = "welcome.html">      
							<i class = "fa fa-fw fa-user"></i>
							userName  
						</a>     
					</li>

					<li class="active">
						<a href="login.html">
							<i class="fa fa-fw fa-power-off"></i> 
							Log Out
						</a>
					</li>

					<ul class="nav navbar-right top-nav language-panel">
						<li><a id = "langEn" href = "welcome.html">En</a></li>
						<li><a id = "langRu" href = "welcome.html">Ru</a></li>
                	</ul>
				</ul>

				<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav side-nav" id = "left-menu">
						<li id = "alltrainings">
							<a href="alltrainings.html">
								<i class="fa fa-fw fa-circle-o"></i> 
								All trainings
							</a>
						</li>

						<li id = "mytrainings">
							<a href="javascript:;" data-toggle="collapse" data-target="#demo">
								<i class="fa fa-fw fa-circle-o"></i> 
								My trainings 
								<i class="fa fa-fw fa-caret-down"></i>
							</a>

							<ul id="demo" class="collapse">
								<li>
									<a href="mytrainings.html">
										<i class="fa fa-fw fa-angle-right"></i>
										As a trainer
									</a>
								</li>

								<li>
									<a href="mytrainings.html">
										<i class="fa fa-fw fa-angle-right"></i>
										As a guest
									</a>
								</li>

							</ul>
						</li>

						<li id = "newtraining">
							<a href="newtraining.html">
								<i class="fa fa-fw fa-circle-o"></i> 
								Create new training
							</a>
						</li>

						<li id = "newtrainer">
							<a href="newtrainer.html">
								<i class="fa fa-fw fa-circle-o"></i> 
								Add new external trainer
							</a>
						</li>

						<li id = "users">
							<a href="users.html">
								<i class="fa fa-fw fa-circle-o"></i> 
								Users
							</a>
						</li>

						<li id = "copyright">
							<div >
								<p>© Exadel, Inc. All Rights Reserved. Exadel is a registered trademark of Exadel, Inc.</p>
							</div>
						</li>
					</ul>
				</div>
			</nav>

			<div id="page-wrapper">
				<div class="container-fluid">

					<!-- Page Heading -->
					<div class="row">
						<div class="col-lg-12">
							<h1 class="page-header">
								Notifications <small>Hot news about your trainings</small>
							</h1>
						</div>
					</div>
					<!-- /.row -->

					<div class="row">
						<div class="col-lg-3 col-md-6">
							<div class="panel panel-red">
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-3">
											<i class="fa fa-bomb fa-5x"></i>
										</div>
										<div class="col-xs-9 text-right">
											<!-- TODO dynamic!!! -->
											<div class="huge">26</div>
											<div>Hot trainings!</div>
										</div>
									</div>
								</div>
								<!-- TODO change alltrainings.html -->
								<a href="alltrainings.html">
									<div class="panel-footer">
										<span class="pull-left">View Details</span>
										<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
										<div class="clearfix"></div>
									</div>
								</a>
							</div>
						</div>

						<div class="col-lg-3 col-md-6">
							<div class="panel panel-green">
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-3">
											<i class="fa fa-tasks fa-5x"></i>
										</div>
										<div class="col-xs-9 text-right">
											<!-- TODO dynamic!!! -->
											<div class="huge">12</div>
											<div>New trainings!</div>
										</div>
									</div>
								</div>
								<!-- TODO change alltrainings.html -->
								<a href="alltrainings.html">
									<div class="panel-footer">
										<span class="pull-left">View Details</span>
										<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
										<div class="clearfix"></div>
									</div>
								</a>
							</div>
						</div>

						<div class="col-lg-3 col-md-6">
							<div class="panel panel-yellow">
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-3">
											<i class="fa fa-shopping-cart fa-5x"></i>
										</div>
										<div class="col-xs-9 text-right">
											<!-- TODO dynamic!!! -->
											<div class="huge">5</div>
											<div>We recommend!</div>
										</div>
									</div>
								</div>
								<!-- TODO change alltrainings.html -->
								<a href="alltrainings.html">
									<div class="panel-footer">
										<span class="pull-left">View Details</span>
										<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
										<div class="clearfix"></div>
									</div>
								</a>
							</div>
						</div>

						<div class="col-lg-3 col-md-6">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-3">
											<i class="fa fa-support fa-5x"></i>
										</div>
										<div class="col-xs-9 text-right">
											<div class="huge">13</div>
											<div>General trainings!</div>
										</div>
									</div>
								</div>
								<!-- TODO change alltrainings.html -->
								<a href="alltrainiings.html">
									<div class="panel-footer">
										<span class="pull-left">View Details</span>
										<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
										<div class="clearfix"></div>
									</div>
								</a>
							</div>
						</div>
					</div>
					<!-- /.row -->

					<div class="row">
						<div class="col-lg-12">
							<div class="alert alert-info alert-dismissable">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
									&times;
								</button>
								<i class="fa fa-info-circle"></i>
								<!-- TODO dynamic!! -->  
								<strong>
									<time>
										2016-07-21 18:20
									</time>
								</strong> 
								You training 
								<a href="training.html" class="alert-link">name of training</a> was aproved!
							</div>
						</div>
					</div>
					<!-- /.row -->

					<div class="row">
						<div class="col-lg-12">
							<div class="alert alert-danger alert-dismissable">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
									&times;
								</button>
								<i class="fa fa-info-circle"></i>
								<!-- TODO dynamic!! -->  
								<strong>
									<time>
										2016-07-21 15:10
									</time>
								</strong> 
								You have got training 
								<a href="training.html" class="alert-link">name of training</a> in an hour!
							</div>
						</div>
					</div>
					<!-- /.row -->

				   <div class="row">
						<div class="col-lg-12">
							<div class="alert alert-success alert-dismissable">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
									&times;
								</button>
								<i class="fa fa-info-circle"></i>
								<!-- TODO dynamic!! -->  
								<strong>
									<time>
										2016-07-21 12:07
									</time>
								</strong> 
								You have got training 
								<a href="training.html" class="alert-link">name of training</a> in a day
							</div>
						</div>
					</div>
					<!-- /.row -->

					<div class="row">
						<div class="col-lg-12">
							<div class="alert alert-warning alert-dismissable">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
									&times;
								</button>
								<i class="fa fa-info-circle"></i>
								<!-- TODO dynamic!! -->  
								<strong>
									<time>
										2016-07-21 12:07
									</time>
								</strong> 
								User
								<a href="user.html" class="alert-link">name of user</a> sent you new
								<a href="training.html" class="alert-link">name of training</a> to aprove.
							</div>
						</div>
					</div>
					<!-- /.row -->

				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /#page-wrapper -->
		</div>
		<!-- /#wrapper -->

		<!-- jQuery -->
		<script src="js/jquery.js"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>