<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="org.exadel.training.model.Absence"/>
        <mapping class="org.exadel.training.model.AbsenceLesson"/>
        <mapping class="org.exadel.training.model.Audience"/>
        <mapping class="org.exadel.training.model.EmployeeFeedback"/>
        <mapping class="org.exadel.training.model.Language"/>
        <mapping class="org.exadel.training.model.LessonEdit"/>
        <mapping class="org.exadel.training.model.RegularLesson"/>
        <mapping class="org.exadel.training.model.Role"/>
        <mapping class="org.exadel.training.model.Tag"/>
        <mapping class="org.exadel.training.model.TrainerFeedback"/>
        <mapping class="org.exadel.training.model.Training"/>
        <mapping class="org.exadel.training.model.TrainingEdit"/>
        <mapping class="org.exadel.training.model.TrainingFeedback"/>
        <mapping class="org.exadel.training.model.User"/>
        <mapping class="org.exadel.training.model.WaitingList"/>
    </session-factory>
</hibernate-configuration>