<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <security:http auto-config="true" use-expressions="true" disable-url-rewriting="true">
        <security:form-login login-page="/login" authentication-failure-url="/login?error" default-target-url="/welcome"/>
        <security:logout delete-cookies="JSESSIONID"/>
        <security:intercept-url pattern="/resources/**" access="permitAll"/>
        <security:intercept-url pattern="/login*" access="permitAll"/>
        <security:intercept-url pattern="/training/all" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')"/>
        <security:intercept-url pattern="/rest/training/search*" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')"/>
        <security:intercept-url pattern="/rest/register/**" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')"/>
        <security:intercept-url pattern="/rest/unregister/**" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')"/>
        <security:intercept-url pattern="/trainer/new" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/trainer/approve/**" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/user/**" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/rest/user/all*" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/rest/user/search*" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/**" access="hasAnyRole('ROLE_EXTERNAL', 'ROLE_USER', 'ROLE_ADMIN')"/>
        <security:remember-me token-validity-seconds="604800" remember-me-parameter="remember-me" user-service-ref="myUserDetailsService"/>
        <security:csrf disabled="true"/>
    </security:http>

    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider user-service-ref="myUserDetailsService">
            <security:password-encoder ref="bCryptPasswordEncoder"/>
        </security:authentication-provider>
    </security:authentication-manager>
</beans>
