<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <security:http auto-config="true" use-expressions="true" disable-url-rewriting="true">
        <security:form-login login-page="/login" authentication-failure-url="/login?error" default-target-url="/welcome"/>
        <security:intercept-url pattern="/welcome**" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
        <security:intercept-url pattern="/allTrainings**" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
        <security:intercept-url pattern="/newTraining**" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
        <security:csrf disabled="true"/>
        <security:remember-me token-validity-seconds="1209600" remember-me-parameter="remember-me" />
    </security:http>

    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider>
            <security:user-service>
                <security:user name="user" password="user" authorities="ROLE_USER" />
                <security:user name="admin" password="admin" authorities="ROLE_USER, ROLE_ADMIN" />
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>
</beans>